{ 
    "presets": [ 
        ["@babel/preset-env", {
            "targets": { "node": 18 },
            "modules": false
        }],
        ["@babel/preset-typescript", {
            "allExtensions": true
        }]
    ], 
    "plugins": [
        
        ["module-resolver", {
            "alias": {
                "@": "./src"
            },
            "extensions": [".js", ".ts", ".mjs", ".mts"]
        }] ,
        ["replace-import-extension", { "extMapping": { ".mjs": ".js", ".mts": ".js", ".ts": ".js" } }]
    ] 
}